body{
  margin: 0;
  font-family: 'Merriweather', serif;
}

p{
  color: #40514E;
}
hr{
border-style: none;
border-top-style: dotted;
border-width: 5px;
width:5%;
border-color: #de4463;
}

.top-container{
  background-color: #f4d9c6;
  margin: 0;
  text-align: center;
  padding-top: 100px;
  position: relative;
}
h1{
  font-size: 100px;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #ffa5a5;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #ffa5a5;
  font-weight: bold;
}

h3{
  font-family: 'Montserrat', sans-serif;
  color: #fe7171;
}
.middle-container{
text-align: center;
}

.bottom-container{
background-color: #f4d9c6;
text-align: center;
padding:50px;
}

.top-cloud{
 position: absolute;
 top:60px;
 right:300px;
}

.bottom-cloud{
  position:absolute;
  left:300px;
  bottom:300px;
}
.profile-img{
  height:200px;
  width:200px;
  display:block;
  margin:auto;
  border-radius: 50%
}
.profile{
  text-align: center;
  margin-bottom: 50px;
}
.skills{
  text-align: center;
}

.footer-link{
  color: #fe7171;
}

.skill-row{
  width: 50%;
  margin: 0 auto 100px auto;
  text-align: left;
  line-height: 2;

}

.webdev-img{
  width:25%;
  float:left;
  margin-right: 30px;
}

.makeup-img{
  width:25%;
  float:right;
  margin-left: 30px;
}

.btn {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: 'Montserrat', sans-serif;
   font-size: 17px;
   font-weight: bold;
   padding: 19px;
   background-color: #ffa5a5;
   border: solid #ffa5a5 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   background: #de4463;
   border: solid #de4463 1px;
   -webkit-border-radius: 12px;
   -moz-border-radius: 12px;
   border-radius: 12px;
   text-decoration: none;
}
.contact-me{
  margin-bottom: 30px;
}

.footer-link{
  font-family: 'Montserrat', sans-serif;
  color: #fe7171;
  font-size: 1rem;
  font-weight: bold;
  margin:10px 20px;
  text-decoration: none;

}
.footer-link:hover{
  color: #de4463;
}

.footer{
  margin-top: 50px;
  font-family: 'Merriweather', serif;
  font-size: 10px;
}
/* .webdev-skill-description{
  clear:left;
}

.makeup-skill-description{
  clear:right;
}
*/
